### Write a Pandas program to convert the first column of a DataFrame as a Series.
Sample Output:<br>
Original DataFrame<br>
col1 col2 col3<br>
0 1 4 7<br>
1 2 5 5<br>
2 3 6 8<br>
3 4 9 12<br>
4 7 5 1<br>
5 11 0 11<br><br>
1st column as a Series:<br>
0 1<br>
1 2<br>
2 3<br>
3 4<br>
4 7<br>
5 11<br>
Name: col1, dtype: int64

In [2]:
import pandas as pd

In [1]:
dic = {
    "col1":[1,2,3,4,7,11],
    "col2":[4,5,6,9,5,0],
    "col3":[7,5,8,12,1,11]
    
}

In [3]:
df = pd.DataFrame(dic)

In [4]:
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [13]:
s1 = pd.Series(df["col1"])

In [14]:
s1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [16]:
print(type(s1))

<class 'pandas.core.series.Series'>