### Write a Pandas program to convert a series of date strings to a timeseries
Original Series: <br><br>
0 01 Jan 2015 <br>
1 10-02-2016<br>
2 20180307<br>
3 2014/05/06<br>
4 2016-04-12<br>
5 2019-04-06T11:20<br>
dtype: object

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
# Given data
data = ["01 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"]
data

['01 Jan 2015',
 '10-02-2016',
 '20180307',
 '2014/05/06',
 '2016-04-12',
 '2019-04-06T11:20']

In [3]:
# converting into series
se = pd.Series(data)
se

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

In [4]:
# converting our series to data and time
pd.to_datetime(se)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]