##### Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series

In [1]:
import pandas as pd
import numpy as np

In [2]:
se = pd.Series(np.random.randint(1,5,15))

In [3]:
se

In [4]:
se.value_counts()

In [5]:
se[se.isin(se.value_counts().index[:1])==False] = "Other"

In [6]:
se

0     Other
1     Other
2         3
3         3
4         3
5     Other
6         3
7     Other
8     Other
9         3
10        3
11    Other
12    Other
13        3
14        3
dtype: object

0     other
1     other
2     other
3     other
4     other
5     other
6     other
7     other
8     other
9     other
10    other
11    other
12    other
13    other
14    other
dtype: object